body {
  margin: 0;
  font-family: Arial;
  background: #f1f5f9;
}

.sidebar {
  width: 230px;
  background: white;
  height: 100vh;
  padding: 20px;
  position: fixed;
  border-right: 1px solid #ddd;

}

.sidebar h2 {
  text-align: center;
  color: #333;
}

.sidebar ul {
  padding: 0;
  margin-top: 30px;
}

.sidebar li {
  list-style: none;
  padding: 12px;
  margin-bottom: 5px;
  cursor: pointer;
  border-radius: 8px;
}

.sidebar li.active,
.sidebar li:hover {
  background: #e0efff;
  color: #0077ff;
  font-weight: bold;
}

.main {
  margin-left: 260px;
  padding: 20px;
}

.summary-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

.card {
  background: #0077ff;
  color: white;
  padding: 18px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 3px 6px #00000020;
}

.table-card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  margin-top: 25px;
  box-shadow: 0px 3px 6px #00000015;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  font-size: 14px;
}

footer {
  margin-top: 40px;
  text-align: center;
  color: gray;
  font-size: 14px;
}

.logout-box {
    margin-top: auto;
    padding: 20px;
}

.logout-btn {
    display: inline-block;
    padding: 8px 16px;
    border-radius: 6px;
    background: #e53935;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    text-align: center;
}

.logout-btn:hover {
    opacity: 0.9;
}
